<section class="nav">
  <div class="container">
    <div class="row ">
      <div class="col-md-12">
        <%= image_tag 'icon-whatsapp.png', class: 'pull-left', style: 'padding-right: 10px' %>
        <div class="topbar-text">Contato: +55 65 99914.7877</div>
      </div>
    </div>
  </div>
</section>
