<div class="container">

  <%= render 'layouts/shared/links' %>

  <div class="row">
    <div class="col-md-12">
      <div class="nav-left-text">
        <div class="rdg-expertise-description rdg-brief-bg rdg-animated-delay-0 text-right" style="float: left;"></div>

        <p style="margin-bottom: -2rem; color: white;">CONHECA TODOS OS</p>
        <p style="color: white;">BENEFICIOS DA ENERGIA SOLAR</p>
      </div>

      <div class="col-md-6">
        <%= link_to 'SIMULE AGORA', como_funciona_path(anchor: 'como-funciona'), class: 'btn btn-primary-transparent pull-left' %>
      </div>
    </div>
  </div>
</div>
